{% extends 'page' %} 

{% block scripts %}
    <script src="/urlValidation.js"></script>
{% endblock %}

{% block content %}
<h2>Tárgy módosítása</h2>


{% if old('errors') %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Hibák</h3>
    </div>
    <div class="panel-body">
        <ul>
            {% for error in old('errors') %}
            <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<form class="form-horizontal" method="post">

    {{ csrfField }}
    <div class="form-group">
        <label for="name" class="col-lg-2 control-label">Tárgy neve</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="name" name="name" placeholder="Tárgy neve" value="{{subject.name}}">
        </div>
    </div>
    <div class="form-group">
        <label for="credit" class="col-lg-2 control-label">Kredit</label>
        <div class="col-lg-10">
            <input type="number" class="form-control" id="credit" name="credit" placeholder="Kredit" value="{{subject.credit}}">
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-lg-2 control-label">Leírás</label>
        <div class="col-lg-10">
            <textarea class="form-control" rows="3" id="description" name="description">{{subject.description}}</textarea>
            <span class="help-block">Leírás</span>
        </div>
    </div>
    <div class="form-group">
        <label for="web" class="col-lg-2 control-label">Honlap</label>
        <div class="col-lg-10">
            <textarea class="form-control" rows="1" id="web" name="web" placeholder="http://example.com">{{subject.web}}</textarea>
            <span class="help-block">Honlap</span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Mégsem</button>
            <button id="submit" type="submit" class="btn btn-primary">Mentés</button>
        </div>
    </div>
</form>

{% endblock %}