{% extends 'page' %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">Hírek</div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates perspiciatis necessitatibus sapiente asperiores accusantium assumenda voluptatum harum error fuga delectus qui, sed, quibusdam, saepe consequatur. Harum, fugiat in molestiae. Tempore.
    </div>
</div>
{% endblock %}