{% extends 'page' %} 

{% block scripts %}
    <script src="/urlValidation.js"></script>
{% endblock %}

{% block content %}
<h2>Profil szerkesztése</h2>

{% if old('errors') %}
<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Hibák</h3>
    </div>
    <div class="panel-body">
        <ul>
            {% for error in old('errors') %}
            <li>{{ error.message }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<form class="form-horizontal" method="post">
     {{ csrfField }}
    <div class="form-group">
        <label for="password" class="col-lg-2 control-label">Jelszó</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Jelszó" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="password_confirm" class="col-lg-2 control-label">Jelszó</label>
        <div class="col-lg-10">
            <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Jelszó" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="web" class="col-lg-2 control-label">Web</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="web" name="web" placeholder="http://example.com" value="{{user.web}}">
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-lg-2 control-label">Telefon</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Telefon" value="{{user.phone}}">
        </div>
    </div>
    {% if currentUser.type == 'teacher' %}
    <div class="form-group">
        <label for="room" class="col-lg-2 control-label">Szoba</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="room" name="room" placeholder="Szoba" value="{{teacher.room}}">
        </div>
    </div>
    <div class="form-group">
        <label for="consulting_hours" class="col-lg-2 control-label">Fogadóóra</label>
        <div class="col-lg-10">
            <input type="text" class="form-control" id="consulting_hours" name="consulting_hours" placeholder="Fogadóóra" value="{{teacher.consulting_hours}}">
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <a class="btn btn-default" href="/profile/show?id={{ currentUser.id }}" >Mégsem</a>
            <button id="submit" type="submit" class="btn btn-primary">Küldés</button>
        </div>
    </div>
</form>
<div class="panel panel-default">
<div class="panel-heading">Megjegyzés</div>
    <div class="panel-body">
        A jelszó mezőket, ha üresen hagyja, akkor a jelszó változatlan marad.
    </div>
</div>
{% endblock %}