{% extends 'page' %} 
{% block content %}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Cserélné</th>
            <th>Erre</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
            {% if offer.student_id != student.id %}
            <tr>
                <td>
                    {{ offer.give_course_id }}. kurzus
                </td>
                <td>
                    {{ offer.wanted_course_id }}. kurzus
                </td>
                <td align="center">
                    <a href="/deal?id={{offer.id}}" class="btn btn-primary">csere</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}