{% extends 'page' %} 
{% block scripts %}
    <script src="/confirmDialog.js"></script>
{% endblock %}
{% block content %}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Cserélné</th>
            <th>Erre</th>
        </tr>
    </thead>
    <tbody>
        {% for offer in offers %}
            {% if offer.student_id != student.id %}
            <tr>
                <td>
                    {{ offer.give_course_id }}. kurzus
                </td>
                <td>
                    {{ offer.wanted_course_id }}. kurzus
                </td>
                <td align="center">
                    <a id="button" href="/deal?id={{offer.id}}" class="btn btn-primary trade">csere</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>
<div class="modal fade confirm-modal" tabindex="-1" role="dialog" id="confirmDialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan el szeretnéd cserélni a kurzust?
        </div>
        <div class="modal-footer">
            <button id="confirm" type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}